*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
.header-container{
    background-image: url(../images/banner/banner1.png);
    width: 100%;
    height: 808px;
    background-position: center;
    background-size: cover;
}
.header-section{
    text-align: right;
    padding: 216px 230px 166px 810px;
}
.header-section .all-thinks{
    font-size: 65px;
    font-weight: bold;
    color: #151414;
}
.header-section .description{
    font-size: 16px;
    color: #444343;
    line-height: 26px;
    margin-top: 24px;
}
.btn{
    width: 160px;
    height: 64px;
    border: none;
    border-radius: 5px;
    background-color: #F15B22;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 32px;
    font-size: 20px;
    font-weight: 600;
}
#previous-year-container{
    padding: 131px 322px 130px 206px;
    display: flex;
    gap: 87px;
}
.previous-image img{
    width: 570px;
    height: 725px;
}
.previous-description {
    margin-top: 240px;
}
.previous-description .failure{
    font-size: 40px;
    font-weight: bold;
    color: #151414;
}
.previous-description .failure-description{
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-top: 24px;
}
.failure-all-checkpoint .failure-checkpoint{
    color: #444343;
    line-height: 26px;
    margin-top: 16px;
    font-weight: normal;
}
.failure-all-checkpoint .fa-solid{
    color: #16D887;
}
#my-plans{
    padding: 130px 230px;
}
#my-plans .plans{
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    text-align: center;
}
#my-plans .all-my-plans{
    display: flex;
    justify-content: space-around;
    margin-top: 57px;
}
.web-development{
    text-align: center;
}
.web-development .skill-name{
    font-size: 30px;
    color: 151414;
    font-weight: bold;
    margin-top: 24px;
}
.web-development .want {
    font-size: 25px;
    color: #737272;
    font-weight: 400;
    margin-top: 16px;
}
#positiveness{
    background-image: url(../images/watch.png);
    width: 74%;
    max-width: 1140px;
    height: 300px;
    border-radius: 5px;
    margin: 0px 197px;
}
.positive-mindset{
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
}
.call-btn{
    color: #F15B22;
    background-color: #FFFFFF;
    margin-top: 24px;
}
.mindset{
    background-image: linear-gradient(to right,#F15B22,#f15d2200);
    width: 100%;
    height: 100%;
}
.keep-positive{
    padding-top: 59px;
    padding-left: 97px;
    width: 460px;
    height: 182px;
}
#footer-container{
    width: 100%;
    height: 577px;
    background-color: #151414;
    display: flex;
    margin-top: 130px;
}
.future{
    width: 485px;
    height: 320px;
    margin: 130px 331px 130px 206px;
}
.ftr{
    font-size: 45px;
    font-weight: bold;
    color: #F8F8F8;
}
.ftr-description{
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 16px;
}
.footer-icon{
    width: 186px;
    height: 146px;
    margin-top: 24px;
}
.emph{
    color: #FFFFFF;
    margin-top: 16px;
}
.social-icon{
    margin-top: 32px;
}
.icon{
    margin-right: 11px;
}
.subscribe{
    width: 325px;
    height: 204px;
    line-height: 31px;
    margin-top: 130px;
    margin-right: 206px;
}
.sbr{
    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 31px;
}
.your-email{
    width: 325px;
    height: 64px;
    font-size: 18px;
    padding: 21px;
    border: none;
    outline: none;
    border-radius: 8px;
}